<div class="card">
    <div class="card-body">
        <div class="active-member">
            <h3>Top Customers</h3>
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Started On</th>
                        <th>Status</th>
                        <th>Revenue</th>
                        \
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sarah Smith</td>
                        <td>12-12-1995</td>
                        <td class="progress1">
                            <div class="progress" style="height: 6px">
                                <div class="progress-bar bg-success"
                                     style="width: 70%"></div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success  mr-2"></i> 4154</td>
                    </tr>
                    <tr>
                        <td>Walter R.</td>
                        <td>Pixel 2</td>

                        <td class="progress1">
                            <div>
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 70%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success  mr-2"></i> 3453</td>

                    </tr>
                    <tr>
                        <td>Andrew D.</td>
                        <td>OnePlus</td>
                        <td class="progress1">
                            <div>
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-warning"
                                         style="width: 70%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success  mr-2"></i> 7757</td>

                    </tr>
                    <tr>
                        <td> Megan S.</td>
                        <td>Galaxy</td>
                        <td class="progress1">
                            <div>
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 70%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success  mr-2"></i> 7752</td>

                    </tr>
                    <tr>
                        <td> Doris R.</td>
                        <td>Moto Z2</td>
                        <td class="progress1">
                            <div>
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 70%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success  mr-2"></i> 7531</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>