<div class="row">
    <div class="col-lg-6 col-sm-6">
        <div class="card gradient-1 card-top">
            <div class="card-body cursor" (click)="showBoardList();">
                <h3 class="card-title text-white">{{ 'boardDashboard.form.board' | translate }}</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">{{  dashboardDetail.boardCount }}</h2>
                </div>
                <span class="float-right display-5 opacity-5"> <img alt=""  src="assets/images/board.png" width="50" height="50" class="icon1">  </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="card gradient-2 card-top">
            <div class="card-body cursor" (click)="boardProductTypeList(boardProductType);">
                <h3 class="card-title text-white">Board {{ client && client.productTypeNickName?client.productTypeNickName:('clientDashboard.form.productType' | translate )}}</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">{{dashboardDetail.boardProductTypeCount}}</h2>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-cubes icon1"></i></span>
            </div>
        </div>
    </div>
</div>