<admin-root>
  <page-title [setting]="setting" [steps]="steps"></page-title>
    <form class="form-horizontal" name="subscriptionForm" [formGroup]="subscriptionForm" #f="ngForm" (ngSubmit)="f.form.valid && createSubscription(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="active-member">
                <div class="table-responsive">
                  <div class="col-lg-12 col-sm-12">
                    <h4>{{ 'subscription.form.details' | translate }}</h4>
                    <div class="row">
                      <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('name').valid, 'has-success': f.submitted && subscriptionForm.get('name').valid}">
                          <form-control-label [text]="'subscription.form.name'" [required]="true"></form-control-label>
                          <input type="text" class="form-control input-default" placeholder="{{ 'subscription.placeholder.name' | translate }}" class="form-control" name="name" formControlName="name">
                          <form-validate [form]="f" [fieldName]="'name'" [field]="subscriptionForm.get('name')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                      </div>
                      
                      <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('description').valid, 'has-success': f.submitted && subscriptionForm.get('description').valid}">
                          <form-control-label [text]="'subscription.form.description'" [required]="true"></form-control-label>
                          <div class="note-editor">
                            <textarea id="form-field-22" class="form-control" placeholder="Enter description" name="description" formControlName="description"></textarea>
                          </div>
                          <form-validate [form]="f" [fieldName]="'description'" [field]="subscriptionForm.get('description')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                      </div>

                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('productCategory').valid, 'has-success': f.submitted && subscriptionForm.get('productCategory').valid}">
                            <form-control-label [text]="'subscription.form.productCategory'" [required]="true"></form-control-label>
                            <div class="clip-select">
                                <select  name="productCategory"  id="productCategorySelect2"  class="select2" formControlName="productCategory">
                                    <option value="">Select Product Category</option>
                                    <option *ngFor="let productCategoryItem of productCategories" [value]="productCategoryItem.id">{{productCategoryItem.name}}</option>
                                </select>
                                <form-validate [form]="f" [fieldName]="'productCategory'" [field]="subscriptionForm.get('productCategory')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                            </div>
                        </div>
                    </div>
                      <!--<div class="row">
                          <div class="form-group form-check mb-3 distributor-checkbox">
                              <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" name="mapSupported" formControlName="mapSupported" value="true">Map Supported
                              </label>
                          </div>
                      </div>-->

                      <div class="row">
                          <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('costPerMachine').valid, 'has-success': f.submitted && subscriptionForm.get('costPerMachine').valid}">
                              <form-control-label [text]="'subscription.form.costPerMachine'" [required]="true"></form-control-label>
                              <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.costPerMachine' | translate }}" class="form-control" name="costPerMachine" formControlName="costPerMachine">
                              <form-validate [form]="f" [fieldName]="'costPerMachine'" [field]="subscriptionForm.get('costPerMachine')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                          </div>
                      </div>
                    <div class="row">
                      <div class="form-group col-md-6" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('price').valid, 'has-success': f.submitted && subscriptionForm.get('price').valid}">
                        <form-control-label [text]="'subscription.form.price'" [required]="true"></form-control-label>
                        <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.price' | translate }}" class="form-control" name="price" formControlName="price">
                        <form-validate [form]="f" [fieldName]="'price'" [field]="subscriptionForm.get('price')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                      </div>

                      <div class="form-group col-md-6" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('currency').valid, 'has-success': f.submitted && subscriptionForm.get('currency').valid}">
                          <form-control-label [text]="'subscription.form.currency'" [required]="true"></form-control-label>
                          <span class="clip-select">
                            <select  name="currency"  id="currencySelect"  class="select2" formControlName="currency">
                                <option value="">Select {{ 'subscription.form.currency' | translate }}</option>
                                <option *ngFor="let currencyItem of currencies" [value]="currencyItem.id">{{currencyItem.name}}</option>
                            </select>
                            <form-validate [form]="f" [fieldName]="'currency'" [field]="subscriptionForm.get('currency')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('machineTypeCount').valid, 'has-success': f.submitted && subscriptionForm.get('machineTypeCount').valid}">
                        <form-control-label [text]="'subscription.form.machineTypeCount'" [required]="true"></form-control-label>
                        <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.machineTypeCount' | translate }}" class="form-control" name="machineTypeCount" formControlName="machineTypeCount">
                        <form-validate [form]="f" [fieldName]="'machineTypeCount'" [field]="subscriptionForm.get('machineTypeCount')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('machineCount').valid, 'has-success': f.submitted && subscriptionForm.get('machineCount').valid}">
                        <form-control-label [text]="'subscription.form.machineCount'" [required]="true"></form-control-label>
                        <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.machineCount' | translate }}" class="form-control" name="machineCount" formControlName="machineCount">
                        <form-validate [form]="f" [fieldName]="'machineCount'" [field]="subscriptionForm.get('machineCount')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('maxUsages').valid, 'has-success': f.submitted && subscriptionForm.get('maxUsages').valid}">
                        <form-control-label [text]="'subscription.form.maxUsages'" [required]="true"></form-control-label>
                        <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.maxUsages' | translate }}" class="form-control" name="maxUsages" formControlName="maxUsages">
                        <form-validate [form]="f" [fieldName]="'maxUsages'" [field]="subscriptionForm.get('maxUsages')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                      </div>
                    </div>
                      <div class="row" *ngIf="currentUser.userType!='SuperAdmin'">
                          <div class="form-group form-check mb-3 distributor-checkbox">
                              <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" name="salesApplicable" formControlName="salesApplicable" value="true" (click)="selectSalesPercentage()">Sales Applicable
                              </label>
                          </div>
                      </div>



                      <div class="row" [hidden]="showDropdown" *ngIf="currentUser.userType!='SuperAdmin'" id="showSales">
                          <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('salesPercentage').valid, 'has-success': f.submitted && subscriptionForm.get('salesPercentage').valid}">
                              <form-control-label [text]="'subscription.form.salesPercentage'" [required]="false"></form-control-label>
                              <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.salesPercentage' | translate }}" class="form-control" name="salesPercentage" formControlName="salesPercentage">
                              <form-validate [form]="f" [fieldName]="'salesPercentage'" [field]="subscriptionForm.get('salesPercentage')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>

                          </div>
                      </div>
                      <!--<div class="row" *ngIf="currentUser.userType=='SuperAdmin'">
                          <div class="form-group form-check mb-3 distributor-checkbox">
                              <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" name="salesApplicable" formControlName="salesApplicable" value="true" (click)="selectSalesPercentage()">Sales Applicable
                              </label>
                          </div>
                      </div>

                      <div class="row" [hidden]="showDropdown" *ngIf="currentUser.userType=='SuperAdmin'" id="showSales">
                          <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('salesPercentage').valid, 'has-success': f.submitted && subscriptionForm.get('salesPercentage').valid}">
                              <form-control-label [text]="'subscription.form.salesPercentage'" [required]="false"></form-control-label>
                              <input type="number" class="form-control input-default" placeholder="{{ 'subscription.placeholder.salesPercentage' | translate }}" class="form-control" name="salesPercentage" formControlName="salesPercentage">
                              <form-validate [form]="f" [fieldName]="'salesPercentage'" [field]="subscriptionForm.get('salesPercentage')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>

                          </div>
                      </div>-->

                      <div class="row">
                          <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('duration').valid, 'has-success': f.submitted && subscriptionForm.get('duration').valid}">
                              <form-control-label [text]="'subscription.form.duration'" [required]="true"></form-control-label>
                              <div class="clip-select">
                                  <select  name="duration"  id="duration"  class="select2" formControlName="duration">
                                      <option value="">Select Duration</option>
                                      <option *ngFor="let duration of durations" [value]="duration.id">{{duration.name}}</option>
                                  </select>
                                  <form-validate [form]="f" [fieldName]="'duration'" [field]="subscriptionForm.get('duration')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                              </div>
                          </div>
                      </div>

                    <div class="row">
                      <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !subscriptionForm.get('elapsedPeriod').valid, 'has-success': f.submitted && subscriptionForm.get('elapsedPeriod').valid}">
                        <form-control-label [text]="'subscription.form.elapsedPeriod'" [required]="true"></form-control-label>
                        <div class="clip-select">
                          <select  name="elapsedPeriod"  id="elapsedPeriod"  class="select2" formControlName="elapsedPeriod">
                            <option value="">Select Elapsed Period</option>
                            <option *ngFor="let elapsedPeriod of elapsedPeriods" [value]="elapsedPeriod.id">{{elapsedPeriod.name}}</option>
                          </select>
                          <form-validate [form]="f" [fieldName]="'elapsedPeriod'" [field]="subscriptionForm.get('elapsedPeriod')" [messages]="SUBSCRIPTION_VALIDATOR"></form-validate>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-wide btn-info pull-right saveSpace">{{'subscription.form.save' | translate}}</button>
          <button type="button" (click)="list(subscription);" class="btn mb-1 btn-outline-danger pull-right">{{'subscription.form.cancel' | translate}}</button>
        </div>
      </div>
    </form>
</admin-root>