#company-building{
    .customer-building-top
    {
       padding-top: 20px;
    }

    .edit{
       width: 24px;
       height: 24px;
    }

    .show-body{
        height:235px;
    }

    .details{
       border:0px;
    }

    .contact-detail{
        height:275px;
    }
    .mt-10{
           margin-top:10px;
       }

}