#projects{
    .page-size-show{
        line-height:37px;
    }
}

.has-error{
    .error{
        div{
            color: red;
            font-size:12px;
        }
    }
}
.success{
    color: green;
    font-size:12px;
}
.has-success{
    .success{
        color: green;
        font-size:12px;
    }
}

.control-label{
    margin-bottom: 1px;
    font-weight: bold;
}

.required{
    color: red;
}

.ui-datepicker{
    z-index: 2000 !important;
}

.select2-selection {
    height:44px !important;
}

.select2-selection__rendered{
    line-height:44px !important;
}

.select2-selection__arrow{
    height:44px !important;
    right:8px !important;
}

.button-create{
    background-color: #7571f9;
    color: white;
}
.page-titles{
    padding: 1rem 0 !important;
}
.footer {
    padding-left: 15.1875rem;
    background-color: #fff;
    position: absolute;
    width: 100%;
    p{
        text-align:left !important;
    }
}

.container-fluid {
    padding: 15px 30px 20px !important;
}
.brand-logo{
    color:white;
    font-size:30px;
    line-height:30px;
    span{
        color:white;
    }
}

.currentOwner-logo-size{
    height: 62px;
    width: 120px;
    /* border-radius: 50px;
    border: 3px solid #abafb3;
    box-shadow: 0px 0px 14px 0px #ccc; */
}
.currentOwner-logo{
    margin-top: 40px;
    float:right;
    font-size:13px;
    /* margin-bottom:5px; */
    color:#6050b5;

}
.error-form{
    height: 100%;
    width: 700px;
    margin: 0 auto;
    margin-top: 160px
}

.screen-form{
    width: 300px;
    margin: 0 auto;
    margin-top: 325px;
}

.user-info{
    width:100%
}

.lock-screen{
    width:100%
}

.box-ls{
    text-align: center;
}

.login-box{
    margin-top:5px;
}

.genders{
    padding-left:5px;
}

.error{
    color:red;
    font-size:12px;
}

/* **BUTTON ADD & REMOVE** */

.attribute-width{
    max-width:15% !important;
}

.button-detail{
    line-height: 45px;
    width:60px;
}

.button-icon{
    float: right;
    padding-top: 18px;
    font-size: 20px;
    padding-left: 11px;
}

.component-width{
    max-width:47% !important;
}

/* END */

.card-attribute-title{
    padding-left:25px;
    max-width: 80%;
}

.component-button{
    text-align: right;
    font-size:20px;
    padding-right:20px;
    i{
        padding:5px;
    }
}

.name-size{
    width: 104%;
    margin-left: 8px;
    padding-top: 10px;
}

.att-size{
    margin-left:8px;
    margin-right: 8px;
}

.comp-detail{
    background-color: #8080801f;
    margin-bottom: 10px;
}


.loginPart{
    height:auto;
}

.city-show-icon{
    font-size: 200px;
    line-height: initial;
}

.show-icon-top{
    text-align:center;
}

.show-icon-details{
    text-align:center;
    line-height:10px;
}

.show-icon{
    font-size: 200px;
    padding-top:49px;
}
.showVendor{
    display:none;
}
.box-size{
    width:13%;
}

.sequence-size{
    width:22%;
}

.manufacturer-size{
    height:130px;
}

.manufacturer-icon{
    margin-bottom:20px;
}


.choose_file {
    position: relative;
    display: inline-block;
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin: 2px auto;
    background: white
}
.choose_file input[type="file"]{
    -webkit-appearance:none;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-button{
    width: 220px;
    border: 1px solid;
    padding: 1px;
}

.upload-image{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border-radius: 50%;
}
.upload-qr{
    height: 300px;
    width: 300px;
}

.error-data-icon{
    font-size:20px;
    margin-left:7px
}

.excel-icon{
    width:70%;
}

.pro-sales{
    margin:0 auto;
}

.sold-product{
    font-size:18px;
}

.total-product{
    font-size:20px;
    margin-left:5px;
}

.text-sold{
    font-size:12px
}

.text-total{
    font-size:17px;
}

.cursor{
    cursor:pointer;
}

.button-gap{
    margin-left:8px;
}

.show-type{
    margin-left:9px;
    cursor:pointer;
}

.cursor-style{
    cursor:pointer;
}

.show-machine{
    margin-left:10px;
}

.change-password{
    color:#76838f;
    padding-left: 3px;
    cursor:pointer;
}

.icon-lock{
    color:#76838f !important;
    cursor:pointer;
}

.telemetric-dropdown{
    width:17%
}

.search-header span{
    width:25% !important;
}

.logo-color{
    background-color:#ffffff !important;
}

.logo-size{
    /* padding-top:12px !important; */
}

.forgot-password{
    padding-top: 10px;
}

/* dashboard */

.scroll-table{
   overflow-wrap: anywhere;
}

/* dashboard */


.list-logo{
    height:59px;
    width:59px;
    border-radius:30px;
    margin-bottom: 15px;
}

.list-logo-list{
    height:59px;
    width:59px;
    border-radius:30px;
}
.attribute-cpt-width{
    max-width:14% !important;
    margin-left:16px;
}

.button-cpt-detail{
    line-height:45px;
    width:52px;
}



.product-data{
    height:152px;
    border: solid 1px #ced4da;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
}

.date-size{
    border-right:solid 1px #ced4da;
    cursor:pointer;
}

.date-detail{
    border-bottom:solid 1px #ced4da;
    height: 40px;
    line-height: 40px;
}

.component-detail{
    height: 76px;
    border-bottom: solid 1px #ced4da;
    border-right: solid 1px #ced4da;
}

.component-bottom-detail{
    height: 76px;
    border-right: solid 1px #ced4da;
}

.data-one{
    height: 38px;
    width: 100%;
    font-size:30px;
}

.data{
    margin-top:5px;
    text-align:center;
    font-size:20px;
}

.comp{
    text-align:center;
    margin-top: -5px;
}

.date-value{
    margin-left: 20px;
}

.view-button{
    float:right;
    padding-right:15px;
    text-align: right;
    padding-top: 15px;
}
.report-line{
    border-bottom: solid 1px #ced4da;
    padding:0px;
    margin-bottom:20px;
}
.graph-data-button{
    background-color: #4d7cff;
    color: white;
}

.grid-data-button{
    margin-right: 5px;
    background-color: #4d7cff;
    color: white;
}

.product-list-pagination{
    margin-top: 7px;
    padding-right: 4px;
    padding-left: 4px;
}

.download-icon{
    margin-left:4px;
}

.download-button{
    margin-top:20px;
    width:90%;
    position:absolute;
    padding: 12px 18px;
}

.load-data-button{
    margin-top:20px;
    float: right;
    width:90%;
    padding: 12px 18px;
}

.load-btn{
    padding-left:0px;
}


/* start-image-in-current-user*/
.current-user-icon{
    font-size: 160px;
    line-height: 0px;
}

.upload-current-user-image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.upload-image-button{
    width: 125px;
    border: 1px solid;
    padding: 1px;
    margin-top:10px;
    //cursor:pointer !important;

}

.img-cursor{
    cursor:pointer;
}
/* end-image-in-current-user*/

.top-default-image{
    height: 57px;
    width: 57px;
    border:3px solid #abafb3;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 14px 0px #ccc;
    background-color: white;
}
.top-default-image-list{
    height: 59px;
    width: 59px;
    border:3px solid #abafb3;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 14px 0px #ccc;
    background-color: white;
}

.top-image{
    height: 40px;
    width: 40px;
    //border: 3px solid #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.user-icons{
    font-size: 37px;
    margin-left: 12px;
}
.user-icons-chip{
    font-size: 37px;
    margin-left: 11px;
    padding-top:11px;
}
.user-icon-image{
    font-size: 37px;
}
.user-icon-image-board {
    font-size: 35px;
    margin-left: 7px;
}
.user-icon-image-profile{
    font-size: 44px;
    margin-left: 8.5px;
    margin-top: 4px;
}

.upload-current-top-image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.pop-up-button{
    text-align:center;
}

.pop-up-excel{
    height: 80px;
}

.excels-icon{
    text-align: center;
    margin-bottom: 10px;
}
.lineSpace{
    padding-top:20px;
}
.lineSpace1{
    padding-top:40px;
}
.fontSpace{
    font-size: 20px;
}
.lineSpace5{
    margin-left:6px;
}
.tableSpace{
    padding-left:10px;
    padding-right:10px;
    line-height:30px;
}
.bottomSpace{
    border-bottom:solid 1px;
    width:150px;
}
.lineSpace2{
    padding-top:10px;
}

.icon1{
    position: absolute;
    top: 0px;
    right: 14px;
}

.client-card{
    height: 200px;
}

.number-of-model{
    float:right;
}

.months{
    margin-left: 7px;
     font-size: 15px;
}

.new-customer-title{
    padding-top:12px;
}


.outlet-graph{
    height:300px;

}

.bar-one{
    height:400px;
}

.product-active-status{
    float:right;
    color:#0bd80b;
}

.product-inactive-status{
    float:right;
    color:red;
}

.new-graph-size{
    height:332px;
}

.canvas-height{
    height:220px;
}

/* .top-profile{
    width: 265px;
    border: 2px solid;
} */

.header-right .top-login-image{
    float:right;
}

.profile-image-box{
    height: 100%;
    width: 165px;
    float: right;
    //border: 1px solid #dee2e6
}

.header-right .admin-image{
    height: 100%;
    padding: 10px 0px;
    width: 113px;
    float: left;
}

.header-right .owner-icons .user-img img{
    width:100%;
    height:56px;
    border: 2px solid #eee;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    cursor:default;
}

.current-top-default-image{
    height: 40px;
    width: 40px;
    border:2px solid #abafb3;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 14px 0px #ccc;
    background-color: white;
}

.by-default{
     height: 100%;
     float: right;
 }

 .distributor-checkbox{
     margin-left:16px;
 }

 .extension-size{
    font-size: 50px;
     height: 50px;
     width: 50px;
 }

 .media-icon:hover{
   color:#7571f9;
 }

 .show-file-icon{
    font-size:200px;
 }

 .invoiceDetail{
    margin-left:4px;
 }
 .modalSpace{
    width:600px;
    height:300px;

 }
.nameSize{
    font-size:20px;
    font-weight: bold;
}
.nameSize1{
    font-size:14px;
    font-weight:18;
}

.component-image{
    font-size:70px;
}

.component-size{
    font-size: 20px;
    padding-top: 12px;
}

.table-border{
    border-bottom:solid 1px gray;
}

.component-upload-button{
    height:33px;
    width:50px;
}

.upload-comp-image{
   width: 100%;
   max-width: 90px;
   height: 71px;
   margin-left: 40px;
}

.clientDropdown{
   width:180px;
}
.vendorBody{
    padding-bottom:0px;
}

.report{
    font-size:12px;
    text-align:center;
}


.date-report{
    font-size:20px;
}

.events{
    width:20%;
    height:50px;
}
.city-list{
    margin: 0px;
	padding: 0;
    cursor:pointer;
    z-index:100;
    position:absolute;
    width:100%;
    border: 1px solid #dee2e6;
    background-color: white;
    display:none;

   li {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #dee2e6;
        float: left;
        width: 100%;
        padding-left: 20px;
    }
}


.login-color{
    color:#7571f9;
}

/* .login-input .form-group .form-control {
     background: transparent !important;
    border: 0 !important;
     border-radius: 4px !important;
     border: 1px solid #ccc !important;
     padding-left: 0 !important;
    color: #7A88A1 !important;
    padding-left: 12px !important;
} */

login-input .form-group {
  margin-bottom: 30px;
}
.login-input .form-group label {
    color: #505F76;
    font-size: 15px;
}
.login-input .form-group .form-control {
    background: transparent;
    border: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    //padding-left: 0;
    color: #7A88A1;
    padding-left: 12px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #6050b5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    h3{
        margin-bottom:0;
        color:white;
    }
}


.icons-sizes{
    height: 14px;
    width: 14px;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("/assets/images/new_loader.gif") center no-repeat;
}

body.loading{
    overflow: hidden;
}

body.loading .overlay{
    display: block;
}

.download-product-type-excel{
    font-size: 60px;
}

.edit-excel-icon{
    width:60%;
}

.maximum-size{
    font-size:10px;
}
.file-detail{
    font-size: 11px;
    text-align:center;
    width: 100%;
    font-weight:bold;
}
.component-file-detail{
    font-size: 11px;
    margin-left:22%;
    width: 100%;
    font-weight:bold;
}

.cursor-style{
    cursor:pointer;
}

.cross-size{
    float: right;
    font-size: 20px;
}
.cross-component-size{
    float: right;
    font-size: 14px;
}

.delete-pic{
    width:180px;
}
.delete-image{
    width:100%;
    height:25px;
}
.delete-component-image{
    width:100%;
    height:10px;
}
.delete-images{
    width:100%;
    height:35px;
}
.total-device-card{
    height:60px;
    width:100%;
}
.nav-label{
    display:block;
}
.menu-toggle{
    .nk-sidebar .metismenu > li.active ul a {
        display: none;
    }
    .nk-sidebar .metismenu > li ul a {
        color: #76838f;
        font-size: 12px;
    }
    .currentOwner-logo-size{
        height:40px;
        width:40px;
    }
    .nav-label{
        display:none;
        width:60px;
        font-size:9px;
        padding-left:0px;
    }
    .telemetric-data-list{
        width:100%;
        height:100%;
    }
    .featureCategory-left{

    }
    .featureCategory-right {
        width: 90%;
        float: left;
        font-size: 12px;
    }
    .nk-sidebar .nav-text {
        display: none;
        font-size: 12px;
    }

}
.rounted-image{
    width:70px;
    height:66px;
    border-radius:100%;
}
.lock-button-icon{
    padding-top:15px;
}

.item-title-profile{
    width:100%;
    text-align: initial;
}

.consumer-product-checkbox{
    margin-left:12px;
}
.print-card{
    width:70%;
    margin:0 auto;
}

.calendar-dashboard{
    background-color: #fff;
    border: 1px solid #aaa;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    height:24px;
    width: calc(100% - 40px);
}

.calendar-box-dashboard{
    height:24px;
}

.store-card{
    padding:1px;
}
.space-card-image{
    padding:0px;
}

/* 4-top-card and below card size */

.card-top{
    height:150px;
}

.top-header-size{
    height:46px;
}
.total-card{
    width:80%;
    height:100%;
    float:left;
}
.image-card-size{
    width:20%;
    height:100%;
    float:left;
}

.card-new-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
}
.card-new-titles {
    font-size: 16px;
    font-weight: 500;
    line-height: 7px;
}

.company-image-size{
    height: 300px;
    width: 300px;
    border: 3px solid #abafb3;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    box-shadow: 0px 0px 14px 0px #ccc;
    background-color: white;
}
/* 4-top-card and below card size */

.distributor-show-icon {
     font-size: 178px;
     padding-top: 59px;
 }
.user-upload-image {
     width: 364px;
     height: 364px;
     margin: 0;
     padding: 0;
     vertical-align: top;
     border-radius: 100%;
 }

 .logout-cursor{
    cursor:pointer;
 }

 .active-inactive{
    margin-top:20px;
 }

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}
.single-info-details{
    height:270px;
}
.data-table-report{
    height:46px;
}
.data-table-image{
    width:170px;
}
.telemetric-data-gap{
    margin-left:55px;
}
.report-data-color table tbody tr td{
    border-color:#e0dde0;
}

.product-type-show-icon{
    font-size:200px;
}

.deleted{
    display:none;
}
.telemetric-data-list{
    width:100%;
    height:100%;
}
.featureCategory-left{
    width:10%;
    float:left;
}
.featureCategory-right{
    width:90%;
    float:left;
}
.distributor-space{
    height:100%;
    width:20%;
    float:left;
}

.nk-sidebar .metismenu > li.active ul li.active a{
    background-color: #efefef;
}

.content-head{
   word-break: break-all;
}
.client-total-usage{
    margin: 5px 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    margin-top:5px;
}
.data-list-page{
    width:100%;
}

.foot-product-type{
    text-align: center;
    height: 100px;
    font-weight: 500;
    line-height: 100px;

}



