<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">All {{client.companyNickName?client.companyNickName:('clientDashboard.form.company' | translate )}} {{client.productNickName?client.productNickName:('clientDashboard.form.product' | translate )}}</h3>
            <product-list-header (pageSizeChanged)="changePageSize($event)" (search)="searchCompanyProduct($event)"></product-list-header>
            <div class="table-responsive">
                <div  *ngIf="companyProducts.length>0">
                    <table class="table table-striped table-hover padding-top-20">
                        <thead>
                        <tr>
                            <th>{{ 'company.companyProduct.logo' | translate }}</th>
                            <th>{{client.productNickName?client.productNickName:('clientDashboard.form.product' | translate )}} Name</th>
                            <th>{{client.companyNickName?client.companyNickName:('clientDashboard.form.company' | translate )}} Name</th>
                            <th>{{ 'companyBuilding.companyBuildingProduct.machineId' | translate }}</th>
                            <th>{{ 'company.companyProduct.dispatchedDate' | translate }}</th>
                            <th>{{ 'company.companyProduct.acceptedDate' | translate }}</th>
                            <th width="10%">{{ 'company.companyProduct.status' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr class="amount3" *ngFor="let companyProduct of companyProducts" style="cursor:pointer;">
                            <td>
                                <div class="image-top-detail" *ngIf="companyProduct.product.id && companyProduct.product.logo">
                                    <img src="{{companyProduct.product.logo}}"  class="list-logo-list">
                                </div>
                                <div class="top-default-image-list" *ngIf="companyProduct.product.id && !companyProduct.product.logo">
                                    <i class="fa fa-cube user-icon-image lineSpace2 show-machine"></i>
                                </div>
                            </td>
                            <td>{{companyProduct.product.name}}</td>
                            <td>{{companyProduct.company.name}}</td>
                            <td>{{companyProduct.product.machine.machineId}}</td>
                            <td>{{companyProduct.dispatchedDate}}</td>
                            <td>{{companyProduct.acceptedDate}}</td>
                            <td>
                                <button class="btn btn-success btn-xs button-gap"  *ngIf="companyProduct.product.live">{{ 'product.list.on' | translate }}</button>
                                <button class="btn btn-danger btn-xs button-gap"   *ngIf="!companyProduct.product.live">{{ 'product.list.off' | translate }}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination [totalSize]="totalSize" [currentPage]="currentPage" [pageSize]="pageSize" [itemSize]="companyProducts.length" [totalPages]="totalPages" (pageChanged)="changePage($event)"></pagination>
                </div>
            </div>
            <div *ngIf="companyProducts.length==0">
                <div class="dataSpace text-center"><b>{{ 'company.list.noData' | translate }}</b></div>
            </div>
        </div>
    </div>
</admin-root>
<company-building-modal [product]="selectedProduct" (submitEvent)="reloadRoles($event)"></company-building-modal>