<div class="modal" id="invoiceCompanySubscriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="companyForm" #f="ngForm" (ngSubmit)="validateForm(f) && acceptCompany(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
                <div class="modal-header">
                    <h5 class="modal-title">{{ client.companyNickName }} Subscription</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !companyForm.get('companySubscription').valid, 'has-success': f.submitted && companyForm.get('companySubscription').valid}">
                            <form-control-label [text]="client.companyNickName + ' ' + 'Subscription'" [required]="true"></form-control-label>
                            <span class="clip-select">
                                <select name="companySubscription" id="companySubscriptionSelect" class="select2" formControlName="companySubscription">
                                    <option value="0">Select {{ client.companyNickName }} Subscription</option>
                                    <option *ngFor="let companySubscription of companySubscriptions" [value]="companySubscription.id">{{companySubscription.subscription.name}}</option>
                                </select>
                                <form-validate [form]="f" [fieldName]="'companySubscription'" [field]="companyForm.get('companySubscription')" [messages]="INVOICE_VALIDATOR"></form-validate>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-wide btn-info pull-right saveSpace">{{ 'invoice.form.accept' | translate }}</button>
                            <button type="button" class="btn mb-1 btn-outline-danger pull-right" data-dismiss="modal">{{ 'invoice.form.reject' | translate }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>