<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <div class="card" id="manufacturer">
        <div class="card-body">
            <h3 class="card-title">{{ 'manufacturer.manufacturerProduct.product' | translate }}</h3>
                <product-list-header (pageSizeChanged)="changePageSize($event)" (search)="searchManufacturer($event)" (addNewEvent)="addManufacturer($event)"></product-list-header>
                <div class="table-responsive">
                    <div *ngIf="manufacturerProducts.length>0">
                        <table class="table table-striped table-hover padding-top-20">
                            <thead>
                                <tr>
                                    <th>{{ 'manufacturer.manufacturerProduct.name' | translate }}</th>
                                    <th>{{ 'manufacturer.manufacturerProduct.description' | translate }}</th>
                                    <th>{{ 'manufacturer.manufacturerProduct.dispatchedDate' | translate }}</th>
                                    <th>{{ 'manufacturer.manufacturerProduct.acceptedDate' | translate }}</th>
                                    <th width="10%">{{ 'manufacturer.manufacturerProduct.action' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let manufacturerProduct of manufacturerProducts">
                                <tr>
                                    <td>{{manufacturerProduct.product.name}}</td>
                                    <td>{{manufacturerProduct.product.description}}</td>
                                    <td>{{manufacturerProduct.dispatchedDate}}</td>
                                    <td>{{manufacturerProduct.acceptedDate}}</td>
                                    <td>
                                        <div class="bootstrap-modal">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" (click)="dispatchProduct(manufacturerProduct)" data-target="#manufacturerProductModal">DISPATCH</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination [totalSize]="totalSize" [currentPage]="currentPage" [pageSize]="pageSize" [itemSize]="manufacturerProducts.length" [totalPages]="totalPages" (pageChanged)="changePage($event)"></pagination>
                    </div>
                </div>
                <div *ngIf="manufacturerProducts.length==0">
                    <div class="dataSpace text-center"><b>{{ 'manufacturer.list.noData' | translate }}</b></div>
                </div>
            </div>
        </div>
    <assign-manufacturer-product-modal [product]="selectedProduct" (submitEvent)="reloadRoles($event)"></assign-manufacturer-product-modal>
</admin-root>