<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <div class="card" id="board">
        <div class="card-body">
            <div class="table-responsive">
                <h3 class="card-title">Unassigned {{client.distributorNickName?client.distributorNickName:('clientDashboard.form.distributor' | translate )}} {{client.productNickName?client.productNickName:('clientDashboard.form.product' | translate )}}</h3>
                <product-list-header (pageSizeChanged)="changePageSize($event)" (search)="searchDistributorProduct($event)" (addNewEvent)="addDistributor($event)"></product-list-header>
                <div  *ngIf="distributorProducts.length>0">
                    <table class="table table-striped table-hover padding-top-20">
                        <thead>
                            <tr>
                                <th>{{ 'distributor.distributorProduct.logo' | translate }}</th>
                                <th>{{client.productNickName?client.productNickName:('clientDashboard.form.product' | translate )}} Name</th>
                                <th width="25%">{{ 'distributor.distributorProduct.productDescription' | translate }}</th>
                                <th>{{ 'distributor.distributorProduct.acceptedDate' | translate }}</th>
                                <th>{{ 'distributor.distributorProduct.dispatchedDate' | translate }}</th>
                                <th width="10%">{{ 'distributor.distributorProduct.invoice' | translate }}</th>
                                <th width="10%">{{ 'distributor.distributorProduct.status' | translate }}</th>
                                <th width="10%;" *ngIf="currentUser.userType=='distributorAdmin'">{{ 'distributor.distributorProduct.dispatch' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="amount3" *ngFor="let distributorProduct of distributorProducts" style="cursor:pointer;">
                                <td>
                                    <div class="image-top-detail" *ngIf="distributorProduct.product.id && distributorProduct.product.logo">
                                        <img src="{{distributorProduct.product.logo}}"  class="list-logo-list">
                                    </div>
                                    <div class="top-default-image-list" *ngIf="distributorProduct.product.id && !distributorProduct.product.logo">
                                        <i class="fa fa-cube user-icon-image lineSpace2 show-machine"></i>
                                    </div>
                                </td>
                                <td>{{distributorProduct.product.name}}</td>
                                <td class="content-head">{{ (distributorProduct.product.description.length>45)? (distributorProduct.product.description | slice:0:45)+'...':(distributorProduct.product.description) }}</td>
                                <td>{{distributorProduct.acceptedDate}}</td>
                                <td>{{distributorProduct.dispatchedDate}}</td>
                                <td>
                                    <i class="fa fa-eye color-muted m-r-5 cursor-position"  (click)="showInvoice(distributorProduct);" *ngIf="distributorProduct.invoiceId"></i>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-xs button-gap"  *ngIf="distributorProduct.product.live">{{ 'product.list.on' | translate }}</button>
                                    <button class="btn btn-danger btn-xs button-gap"   *ngIf="!distributorProduct.product.live">{{ 'product.list.off' | translate }}</button>
                                </td>
                                <td *ngIf="currentUser.userType=='distributorAdmin'">
                                    <div class="bootstrap-modal">
                                        <button type="button" class="btn btn-primary"  (click)="dispatchProduct(distributorProduct)">Dispatch</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination [totalSize]="totalSize" [currentPage]="currentPage" [pageSize]="pageSize" [itemSize]="distributorProducts.length" [totalPages]="totalPages" (pageChanged)="changePage($event)"></pagination>
                </div>
            </div>
            <div *ngIf="distributorProducts.length==0">
                <div class="dataSpace text-center"><b>{{ 'distributor.list.notAvailable' | translate }}</b></div>
            </div>
        </div>
    </div>
    <company-type-modal [product]="selectedProduct" (submitEvent)="reloadDistributorProduct($event)"></company-type-modal>
</admin-root>