<div class="card card-widget" id="dashboard">
    <div class="card-header">
        <h3>Zone-wise {{ client && client.productNickName?client.productNickName:('clientDashboard.form.product' | translate )}} Status</h3>
    </div>
    <div class="card-body clientBody">
        <div class="row">
            <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="clientDropdown float-right">
                        <span class="clip-select">
                            <select id="selectZoneProductType" name="productType" class="select2">
                                <option value="0">Select ProductType</option>
                                    <option *ngFor="let productType of productTypes" [value]="productType.alias">{{ productType && productType.name}}</option>
                            </select>
                        </span>
                    </div>
                </div>
        </div>
        <div class="client">
            <h2 class="mt-4">{{totalProduct()}}</h2>
            <span>{{'companyDashboard.form.totalProduct' | translate}}</span>

            <div class="top-productType" *ngIf="zoneProductTypes.length > 0">
                <div class="mt-4">
                    <h4>{{ zoneProductTypes[0].count?zoneProductTypes[0].count:0}}</h4>
                    <h6>{{zoneProductTypes[0].name}} <span class="pull-right">{{ zoneProductTypes[0].count/client.productCount | percent:'2.0-2' }}</span></h6>
                    <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-primary" [style.width]="zoneProductTypes[0].count/client.productCount | percent:'2.0-2'" role="progressbar"><span class="sr-only">{{ zoneProductTypes[0].count/client.productCount | percent:'2.0-2' }}Active</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-productType" *ngIf="zoneProductTypes.length > 1">
                <div class="mt-4">
                    <h4>{{zoneProductTypes[1].count?zoneProductTypes[1].count:0}}</h4>
                    <h6>{{zoneProductTypes[1].name}} <span class="pull-right">{{ zoneProductTypes[1].count/client.productCount | percent:'2.0-2' }}</span></h6>
                    <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-success" [style.width]="zoneProductTypes[1].count/client.productCount | percent:'2.0-2'" role="progressbar"><span class="sr-only">{{ zoneProductTypes[1].count/client.productCount | percent:'2.0-2' }}Active</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-productType" *ngIf="zoneProductTypes.length > 2">
                <div class="mt-4">
                    <h4>{{zoneProductTypes[2].count?zoneProductTypes[2].count:0}}</h4>
                    <h6>{{zoneProductTypes[2].name}} <span class="pull-right">{{ zoneProductTypes[2].count/client.productCount | percent:'2.0-2' }}</span></h6>
                    <div class="progress mb-3" style="height: 7px">
                        <div class="progress-bar bg-warning" [style.width]="zoneProductTypes[2].count/client.productCount | percent:'2.0-2'" role="progressbar"><span class="sr-only">{{ zoneProductTypes[2].count/client.productCount | percent:'2.0-2' }}Active</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>