<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <form class="form-horizontal" name="productCategoryForm" [formGroup]="productCategoryForm" #f="ngForm">
        <div class="card" id="productCategory">
            <div class="card-body">
                <h3 class="card-title">{{ 'productCategory.show.productCategoryDetail' | translate }}</h3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <form-control-label [text]="'productCategory.form.name'"
                                                [required]="true"></form-control-label>
                            <input type="text" class="form-control" name="name" formControlName="name" readonly/>
                        </div>
                        <div class="form-group">
                            <form-control-label [text]="'productCategory.form.description'"
                                                [required]="true"></form-control-label>
                            <div class="note-editor">
                                <textarea id="form-field-22" class="form-control" name="description"
                                          formControlName="description" readonly></textarea>
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="consumerProductSupported" formControlName="consumerProductSupported"  >{{ 'productCategory.form.consumerProduct' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4 show-icon-top">
                        <div class="delete-image cursor-pointer" style="cursor:pointer;" *ngIf="productCategory.id && productCategory.logo"><i class="fa fa-close color-danger cross-size cursor-pointer" data-toggle="tooltip" title="Delete" (click)="markDeleted(productCategory);"></i></div>
                        <div class="company-image-size" *ngIf="productCategory.id && productCategory.logo"><img src="{{productCategory.logo}}"  class="upload-image"/></div>
                        <div class="company-image-size" *ngIf="!productCategory.logo"><i class="fa fa-user-circle-o show-icon" ></i></div>
                        <div class="row mt-3 ml-3">
                            <div class="choose_file">
                                <button type="button" class="btn btn-default upload-button">{{ 'product.form.chooseImage' | translate }}</button>
                                <input name="file" type="file" class="form-control" accept="image/*" (change)="onFileChange($event)"/>
                            </div>
                            <div class="file-detail" *ngIf="files && productCategory.id && productCategory.logo">{{files.name}}</div>
                            <div class="file-detail"><span *ngIf="files && productCategory.id && productCategory.logo">{{ files.size/1024 | number:'1.0-0'}} </span> KB</div>
                        </div>
                        <div class="has-error error" *ngIf="formatError">{{'productCategory.error.invalidPattern' |
                            translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</admin-root>