<div class="card" id="dashboard">
    <div class="card-header top-header-size">
        <!--<h3>{{client && client.productTypeNickName?client.productTypeNickName:('clientDashboard.form.productType' | translate )}} Revenue</h3>-->
        <h5 class="talkio_whitecolor"> Over All {{client &&
            client.productNickName?client.productNickName:('clientDashboard.form.product' | translate )}} Revenue</h5>
    </div>
    <div class="card-body clientBody" [hidden]="productTypes.length==0">
        <div class="row" >
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="client-total-revenue">
                        <span class="clip-select">
                            <select id="selectProductTypeTotalRevenueCompanyAdmin" name="productType" class="select2">
                                <option value="0">Select {{client.productTypeNickName?client.productTypeNickName:('clientDashboard.form.productType' | translate )}}</option>
                                    <option *ngFor="let productType of productTypes" [value]="productType.alias">{{productType && productType.name}}</option>
                            </select>
                        </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="client-total-revenue" >
                    <span class="clip-select">
                        <select id="selectCompanyBuildingTotalRevenueCompanyAdmin" name="companyBuilding" class="select2">
                            <option value="0">Select {{client.companyBuildingNickName?client.companyBuildingNickName:('clientDashboard.form.companyBuilding' | translate )}}</option>
                                <option *ngFor="let companyBuilding of companyBuildings" [value]="companyBuilding.alias">{{companyBuilding.name}}</option>
                        </select>
                    </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <!--<form-control-label [text]="'product.form.startDate'" [required]="true"></form-control-label>-->
                <div class="input-group">
                    <input type="text" placeholder="{{ 'client.placeholder.selectStartDate' | translate }}"  autocomplete="off" id="startDateRevenueCompanyAdmin" class="calendar-dashboard">
                    <span class="input-group-append calendar-box-dashboard" >
                            <span class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <!--<form-control-label [text]="'product.form.startDate'" [required]="true"></form-control-label>-->
                <div class="input-group">
                    <input type="text" placeholder="{{ 'client.placeholder.selectEndDate' | translate }}"  autocomplete="off" id="endDateRevenueCompanyAdmin" class="calendar-dashboard">
                    <span class="input-group-append calendar-box-dashboard" >
                            <span class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="client-total-revenue">
                    <span class="clip-select">
                        <select id="revenueTypeDropdownCompanyAdmin" name="revenueType" class="select2">
                                <option value="0">Select Revenue Type</option>
                                <option *ngFor="let revenueTypeItem of revenueTypes" [value]="revenueTypeItem.id">{{revenueTypeItem.name}}</option>
                        </select>
                    </span>
                </div>
            </div>


        </div>
        <div class="bar-one" id="total-revenue-company-admin"></div>
    </div>
    <div class="foot-product-type" [hidden]="productTypes.length>0">
        No  Product Type Found  !!!
    </div>
</div>