<div class="modal fade" id="companyTypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="distributor">
            <form class="form-horizontal" [formGroup]="companyProductForm" #f="ngForm" (ngSubmit)="validateForm(f) && f.form.valid && clickCompany(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
                <div class="modal-header">
                    <h5 class="modal-title">{{ client.productNickName }} Detail</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="userSize2"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="col-md-8">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><b>{{ client.productNickName }}</b></td>
                                    <td>{{product.name}}</td>
                                </tr>
                                <tr>
                                    <td class="paid"><b>{{ 'distributor.form.deviceId' | translate }}</b></td>
                                    <td class="paid"> {{product.deviceId}}</td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !companyProductForm.get('company').valid, 'has-success': f.submitted && companyProductForm.get('company').valid}">
                            <label class="control-label">{{ replaceText('report.form.company' | translate) }}</label>
                            <span class="clip-select">
                                <select name="company" class="select2" id="distributor-company-select" formControlName="company">
                                    <option value="0">Select {{ replaceText('report.form.company' | translate) }}</option>
                                    <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
                                </select>
                                <form-validate [form]="f" [fieldName]="'company'" [field]="companyProductForm.get('company')" [messages]="DISTRIBUTOR_VALIDATOR"></form-validate>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !companyProductForm.get('dispatchedDate').valid, 'has-success': f.submitted && companyProductForm.get('dispatchedDate').valid}">
                            <form-control-label [text]="'client.form.dispatchedDate'" [required]="true"></form-control-label>
                            <div class="input-group">
                                <input type="text" placeholder="{{ 'client.placeholder.dispatchedDate' | translate }}" class="form-control" name="dispatchedDate" formControlName="dispatchedDate" autocomplete="off" id="companyAssignedDate">
                                <span class="input-group-append" >
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </div>
                            <form-validate [form]="f" [fieldName]="'dispatchedDate'" [field]="companyProductForm.get('dispatchedDate')" [messages]="DISTRIBUTOR_VALIDATOR"></form-validate>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !companyProductForm.get('price').valid, 'has-success': f.submitted && companyProductForm.get('price').valid}">
                            <form-control-label [text]="'distributor.form.price'" [required]="true"></form-control-label>
                            <input type="text" (model)="myModel" (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()" class="form-control input-default" placeholder="{{ 'distributor.placeholder.price' | translate }}" class="form-control" productCount="price" formControlName="price">
                            <form-validate [form]="f" [fieldName]="'price'" [field]="companyProductForm.get('price')" [messages]="DISTRIBUTOR_VALIDATOR"></form-validate>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="radio clip-radio radio-primary">
                                <input type="radio" id="wd-existing-invoice" name="isNewInvoice" value="existingInvoice" formControlName="isNewInvoice" (change)="selectExistingInvoice('existingInvoice')" required>
                                <span class="invoiceDetail"> <label for="wd-existing-invoice">{{ 'distributor.form.existingInvoice' | translate }}</label> </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio clip-radio radio-primary">
                                <input type="radio" id="wd-new-invoice" name="isNewInvoice" value="newInvoice" formControlName="isNewInvoice" (change)="selectExistingInvoice('newInvoice')" required>
                                <span class="invoiceDetail"> <label for="wd-new-invoice">{{ 'distributor.form.newInvoice' | translate }}</label> </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="!showDropdown">
                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !companyProductForm.get('invoiceId').valid, 'has-success': f.submitted && companyProductForm.get('invoiceId').valid}">
                            <form-control-label [text]="'distributor.form.invoice'" [required]="true"></form-control-label>
                            <span class="clip-select">
                                <select  name="invoiceId" id="SelectCompanyByDistributor" class="select2"  formControlName="invoiceId">
                                    <option value="0">{{ 'distributor.form.selectInvoice' | translate }}</option>
                                    <option *ngFor="let invoiceItem of invoices" [value]="invoiceItem.id">{{invoiceItem.invoiceId}}</option>
                                </select>
                                <form-validate [form]="f" [fieldName]="'invoiceId'" [field]="companyProductForm.get('invoiceId')" [messages]="DISTRIBUTOR_VALIDATOR"></form-validate>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-wide btn-info pull-right saveSpace" [disabled]="click">{{ 'distributor.subscriptionList.submit' | translate }}</button>
                            <button type="button" class="btn mb-1 btn-outline-danger pull-right" data-dismiss="modal">{{ 'distributor.subscriptionList.cancel' | translate }}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

