<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="card-title text-white">Customer Device</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">4545</h2>
                            <p class="text-white mb-0">Jan - March 2019</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="float-right"><i class="fa fa-user icon1"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="card-title text-white">Product</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">854</h2>
                            <p class="text-white mb-0">Jan - March 2019</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="float-right"><i class="fa fa-cubes icon1"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="card-title text-white">Revenue</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">$ 4565</h2>
                            <p class="text-white mb-0">Jan - March 2019</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="float-right"><i class="fa fa-money icon1"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="card-title text-white">Transactions</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">70%</h2>
                            <p class="text-white mb-0">Jan - March 2019</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span class="float-right"><i class="fa fa-line-chart icon1"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>