<div class="card" id="dashboard">
    <div class="card-header">
        <h3>TOP PRODUCT TYPES</h3>
    </div>
    <div class="card-body clientBody">
        <div class="active-member">
            <div class="table-responsive">

                <table class="table table-xs mb-0">
                    <thead>
                    <tr>

                        <th>Product Type</th>
                        <th>Name</th>
                        <th> No of Revenue</th>
                        <th>Transactions</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sarah Smith</td>
                        <td>iPhone X</td>
                        <td><span>United States</span></td>
                        <td><span>70</span></td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>Walter R.</td>
                        <td>Pixel 2</td>
                        <td><span>Canada</span></td>
                        <td><span>85</span></td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Andrew D.</td>
                        <td>OnePlus</td>
                        <td><span>Germany</span></td>
                        <td><span>68</span></td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-warning"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td> Megan S.</td>
                        <td>Galaxy</td>
                        <td><span>Japan</span></td>
                        <td><span>95</span></td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> Doris R.</td>
                        <td>Moto Z2</td>
                        <td><span>England</span></td>
                        <td><span>91</span></td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>