<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <form class="form-horizontal" name="distributorSubscriptionForm" [formGroup]="distributorSubscriptionForm" #f="ngForm" (ngSubmit)="f.form.valid && updateDistributorSubscription(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
        <div class="card" id="projects">
            <div class="card-body">
                <h3 class="card-title">{{'distributor.form.details' | translate}}</h3>
                <div class="row">
                    <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !distributorSubscriptionForm.get('subscription').valid, 'has-success': f.submitted && distributorSubscriptionForm.get('subscription').valid}">
                        <form-control-label [text]="'distributor.subscriptionList.subscription'" [required]="true"></form-control-label>
                        <span class="clip-select">
                            <select  name="subscription" id="subscriptionDistributorSelect" class="select2"  formControlName="subscription">
                                <option value="0">{{ 'distributor.subscriptionList.selectSubscription' | translate }}</option>
                                <option *ngFor="let subscriptionItem of subscriptions" [value]="subscriptionItem.id">{{subscriptionItem.name}}</option>
                            </select>
                            <form-validate [form]="f" [fieldName]="'subscription'" [field]="distributorSubscriptionForm.get('subscription')" [messages]="DISTRIBUTOR_SUBSCRIPTION_VALIDATOR"></form-validate>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !distributorSubscriptionForm.get('startDate').valid, 'has-success': f.submitted && distributorSubscriptionForm.get('startDate').valid}">
                        <form-control-label [text]="'distributor.subscriptionList.startDate'" [required]="true"></form-control-label>
                        <div class="input-group">
                            <input type="text" placeholder="{{ 'distributor.placeholder.startDate' | translate }}" class="form-control" name="startDate" formControlName="startDate" autocomplete="off" id="distributorSubscriptionStartDate">
                            <span class="input-group-append" >
                                <span class="input-group-text">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </span>
                        </div>
                        <form-validate [form]="f" [fieldName]="'startDate'" [field]="distributorSubscriptionForm.get('startDate')" [messages]="DISTRIBUTOR_SUBSCRIPTION_VALIDATOR"></form-validate>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !distributorSubscriptionForm.get('endDate').valid, 'has-success': f.submitted && distributorSubscriptionForm.get('endDate').valid}">
                        <form-control-label [text]="'distributor.subscriptionList.endDate'" [required]="true"></form-control-label>
                        <div class="input-group">
                            <input type="text" placeholder="{{ 'distributor.placeholder.endDate' | translate }}" class="form-control" name="endDate" formControlName="endDate" autocomplete="off" id="distributorSubscriptionEndDate">
                            <span class="input-group-append" >
                                <span class="input-group-text">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </span>
                        </div>
                        <form-validate [form]="f" [fieldName]="'endDate'" [field]="distributorSubscriptionForm.get('endDate')" [messages]="DISTRIBUTOR_SUBSCRIPTION_VALIDATOR"></form-validate>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-check mb-3 distributor-checkbox">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="active" formControlName="active" value="">Active
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="distributorSubscription.active">
            <div class="col-md-12">
                <button type="submit" class="btn btn-wide btn-info pull-right saveSpace">{{'distributor.form.save' | translate}}</button>
                <button type="button" (click)="list(distributor);" class="btn mb-1 btn-outline-danger pull-right">{{'distributor.form.cancel' | translate}}</button>
            </div>
        </div>
    </form>
</admin-root>