<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <content-main>
        <div class="content-main" id="Dashboard">
            <div class="content-main-wrapper" [perfectScrollbar]="config">
                <div class="content-container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="active-member">
                                            <div class="table-responsive">
                                            <table class="table table-xs mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Logo</th>
                                                        <th>Product  Name</th>
                                                        <th>Transactions</th>
                                                        <th>Revenue</th>
                                                        <th>Health</th>
                                                    </tr>
                                                    </thead>
                                                <tbody>
                                                   <tr  [routerLink]="'/product-detail-dashboard'">
                                                       <td><img alt="" src="/assets/assets/images/avatar-1.jpg" ></td>
                                                        <td>iPhone X</td>
                                                        <td>62</td>
                                                        <td><i class="fa fa-line-chart text-success mr-2"></i> 6548</td>
                                                        <td>
                                                            <div class="progress1">
                                                                <div class="progress" style="height: 6px">
                                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                   <tr  [routerLink]="'/product-detail-dashboard'">
                                                        <td><img alt="" src="/assets/assets/images/avatar-1.jpg"></td>
                                                        <td>Pixel 2</td>
                                                        <td>52</td>
                                                        <td><i class="fa fa-line-chart text-success mr-2"></i> 6565</td>
                                                        <td>
                                                            <div class="progress1">
                                                                <div class="progress" style="height: 6px">
                                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                   <tr  [routerLink]="'/product-detail-dashboard'">
                                                        <td><img alt="" src="/assets/assets/images/avatar-1.jpg"></td>
                                                        <td>OnePlus</td>
                                                        <td>82</td>
                                                        <td><i class="fa fa-line-chart text-success mr-2"></i> 4658</td>
                                                        <td>
                                                            <div class="progress1">
                                                                <div class="progress" style="height: 6px">
                                                                    <div class="progress-bar bg-warning" style="width: 50%"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                   <tr  [routerLink]="'/product-detail-dashboard'">
                                                        <td><img alt="" src="/assets/assets/images/avatar-1.jpg"></td>
                                                        <td>Galaxy</td>
                                                        <td>65</td>

                                                        <td><i class="fa fa-line-chart text-success mr-2"></i> 4558</td>
                                                        <td>
                                                            <div class="progress1">
                                                                <div class="progress" style="height: 6px">
                                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                   <tr  [routerLink]="'/product-detail-dashboard'">
                                                        <td><img alt="" src="/assets/assets/images/avatar-1.jpg"> </td>
                                                        <td>Moto Z2</td>
                                                        <td>65</td>
                                                        <td><i class="fa fa-line-chart text-success mr-2"></i> 7589</td>
                                                        <td>
                                                            <div class="progress1">
                                                                <div class="progress" style="height: 6px">
                                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                   <tr  [routerLink]="'/product-detail-dashboard'">
                                                        <td><img alt="" src="/assets/assets/images/avatar-1.jpg"></td>
                                                        <td>Notebook Asus</td>
                                                        <td>10</td>
                                                        <td><i class="fa fa-line-chart text-success mr-2"></i> 1234</td>
                                                        <td>
                                                            <div class="progress1">
                                                                <div class="progress" style="height: 6px">
                                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content-main>
</admin-root>
