<!--**********************************
            Nav header start
***********************************-->
<top-navbar></top-navbar>
<!--**********************************
            Nav header end
***********************************-->

<!--**********************************
            Header start
***********************************-->

<!--**********************************
            Header end ti-comment-alt
***********************************-->

<!--**********************************
            Sidebar start
***********************************-->
<sidebar></sidebar>
<!--**********************************
            Sidebar end
***********************************-->
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <ng-content></ng-content>
    </div>
</div>
<!--**********************************
           Content body end
       ***********************************-->

<!--**********************************
           Footer start
       ***********************************-->
<div class="footer">
    <div class="copyright">
        <p>Copyright &copy; Designed & Developed by <a href="">TALKIO</a> 2020</p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->