<div class="card" id="dashboard">
    <div class="card-header">
        <h3>Top Consumer By Revenue</h3>
    </div>

    <div class="card-body clientBody">
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6" >
             <!--<div class="clientDropdown float-right">
                    <span class="clip-select">
                        <select id="consumerTopRevenue" name="zone" class="select2>
                            <option value="0">Select Zone</option>
                                <option *ngFor="let zone of zones" [value]="zone.alias">{{zone.name}}</option>
                        </select>
                    </span>
             </div>-->
            </div>
        </div>
        <div class="active-member">
            <div class="table-responsive scroll-table">
                <table class="table table-xs mb-0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th width="22%">Revenue</th>
                    </tr>
                    </thead>

                    <tbody *ngFor="let topConsumer of topConsumers">
                    <tr>
                        <td>{{topConsumer.firstName}}</td>
                        <td>{{topConsumer.phoneNo}}</td>
                        <td>{{topConsumer.email}}</td>
                        <td>{{topConsumer.revenue}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

