<content-main>
    <div class="content-main" id="Dashboard">
        <div class="content-main-wrapper" [perfectScrollbar]="config">
            <div class="content-container">
                <div class="container-fluid">
                   <DeviceCardDashboard></DeviceCardDashboard>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                           <DeviceTopCustomer></DeviceTopCustomer>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                          <DeviceTopProduct></DeviceTopProduct>
                        </div>
                    </div>
                   <DeviceChart></DeviceChart>

                </div>
            </div>
        </div>
    </div>
</content-main>

