    <div class="card" id="dashboard">
        <div class="card-header top-header-size">
            <h5 class="talkio_whitecolor" >Over All {{client &&
                client.productNickName?client.productNickName:('clientDashboard.form.product' |
                translate )}} Health</h5>
        </div>
        <div class="card-body clientBody" [hidden]="productTypes.length==0">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="client-total-health" >
                    <span class="clip-select">
                        <select id="selectProductTypeMachineHealthReport" name="productType" class="select2">
                                <option value="0">Select {{client.productTypeNickName?client.productTypeNickName:('clientDashboard.form.productType' | translate )}}</option>
                                <option *ngFor="let productType of productTypes" [value]="productType.alias">{{productType && productType.name}}</option>
                        </select>
                    </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="client-total-health" >
                    <span class="clip-select">
                        <select id="selectZoneTotalHealth" name="zone" class="select2">
                            <option value="0">Select Zone</option>
                                <option *ngFor="let zone of zones" [value]="zone.alias">{{zone.name}}</option>
                        </select>
                    </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="client-total-health" >
                    <span class="clip-select">
                        <select id="select2CompanyDropdown" name="company" class="select2">
                                <option value="0">Select {{client.companyNickName?client.companyNickName:('clientDashboard.form.company' | translate )}}</option>
                                <option *ngFor="let company of companies" [value]="company.alias">{{company.name}}</option>
                        </select>
                    </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6"></div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <!--<form-control-label [text]="'product.form.startDate'" [required]="true"></form-control-label>-->
                    <div class="input-group">
                        <input type="text" placeholder="{{ 'client.placeholder.selectStartDate' | translate }}"  autocomplete="off" id="startDateHealth" class="calendar-dashboard">
                        <span class="input-group-append calendar-box-dashboard" >
                            <span class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6">
                    <!--<form-control-label [text]="'product.form.startDate'" [required]="true"></form-control-label>-->
                    <div class="input-group">
                        <input type="text" placeholder="{{ 'client.placeholder.selectEndDate' | translate }}"  autocomplete="off" id="endDateHealth" class="calendar-dashboard">
                        <span class="input-group-append calendar-box-dashboard" >
                            <span class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </span>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <div class="new-graph-size" id="client_product_health"></div>
            </div>
        </div>
        <div class="foot-product-type" [hidden]="productTypes.length>0">
            No Product Type Found  !!!
        </div>
    </div>