<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <div class="card" id="productType">
        <div class="card-body">
            <h3 class="card-title">{{'productType.form.machineManufacturer' | translate}}</h3>
            <list-header (pageSizeChanged)="changePageSize($event)" (search)="searchProductTypeMachine($event)" (addNewEvent)="dispatchProductType()" *ngIf="productType.active"></list-header>
            <product-list-header (pageSizeChanged)="changePageSize($event)" (search)="searchProductTypeMachine($event)"  *ngIf="!productType.active"></product-list-header>
            <div class="table-responsive">
                <div *ngIf="machineProductTypes.length>0">
                    <table class="table table-striped table-hover padding-top-20">
                        <thead>
                            <tr>
                                <th>{{'productType.form.logo' | translate}}</th>
                                <th>Order ID</th>
                                <th>{{ client.productTypeNickName }}</th>
                                <th>{{ 'productType.form.modelNo' | translate }}</th>
                                <th>{{ 'productType.form.machineCount' | translate }}</th>
                                <th>{{ 'productType.form.completeCount' | translate }}</th>
                                <th>{{ 'productType.form.assignedDate' | translate }}</th>
                                <th width="20%">{{ 'productType.form.status' | translate }}</th>
                                <th>{{ 'productType.form.machineList' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let machineProductType of machineProductTypes">
                                <td>
                                    <div class="image-top-detail" *ngIf="machineProductType.id && machineProductType.logo">
                                        <img src="{{productType.logo}}"  class="list-logo-list">
                                    </div>
                                    <div class="top-default-image-list" *ngIf="machineProductType.id && !machineProductType.logo">
                                        <i class="fa fa-cubes user-icon-image py-2 px-xl-1" ></i>
                                    </div>
                                </td>
                                <td>{{machineProductType.orderId}}</td>
                                <td>{{machineProductType.productType.name}}</td>
                               <td>{{machineProductType.productType.modelNo}}</td>
                                <td>{{machineProductType.productCount}}</td>
                                <td>{{machineProductType.machineCreatedCount}}</td>
                                <td>{{machineProductType.assignedDate}}</td>
                                <td>{{machineProductType.status}}</td>
                                <td>
                                    <i class="fa fa-microchip color-muted m-r-5 show-machine cursor-position" data-toggle="tooltip" title="Machine" (click)="showMachine(machineProductType);"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination [totalSize]="totalSize" [currentPage]="currentPage" [pageSize]="pageSize" [itemSize]="machineProductTypes.length" [totalPages]="totalPages" (pageChanged)="changePage($event)"></pagination>
                </div>
            </div>
            <div *ngIf="machineProductTypes.length==0">
                <div class="dataSpace text-center">
                    <b>{{ 'productType.list.noData' | translate }}</b>
                </div>
            </div>
        </div>
    </div>
</admin-root>
<machine-modal [productType]="selectedProductType" (submitEvent)="reloadProductType($event)"></machine-modal>
