<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <form class="form-horizontal" name="userForm" [formGroup]="userForm" #f="ngForm" (ngSubmit)="f.form.valid && updateUser(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{'user.form.details' | translate}}</h3>
                <div class="row">
                    <div class="col-md-12 form-group" [ngClass]="{ 'has-error': f.submitted && !userForm.get('firstName').valid, 'has-success': f.submitted && userForm.get('firstName').valid}">
                        <form-control-label [text]="'user.form.firstName'" [required]="true"></form-control-label>
                        <input type="text" placeholder="{{ 'user.placeholder.firstName' | translate }}" class="form-control" name="firstName" formControlName="firstName">
                        <form-validate  [form]="f"  [fieldName]="'firstName'" [field]="userForm.get('firstName')" [messages]="USER_VALIDATOR"></form-validate>
                    </div>

                    <div class="col-md-12 form-group" [ngClass]="{ 'has-error': f.submitted && !userForm.get('lastName').valid, 'has-success': f.submitted && userForm.get('lastName').valid}">
                        <form-control-label [text]="'user.form.lastName'" [required]="true"></form-control-label>
                        <input type="text" placeholder="{{ 'user.placeholder.lastName' | translate }}" class="form-control" name="lastName" formControlName="lastName">
                        <form-validate  [form]="f" [fieldName]="'lastName'" [field]="userForm.get('lastName')" [messages]="USER_VALIDATOR"></form-validate>
                    </div>
                        <div class="col-md-12 form-group" [ngClass]="{ 'has-error': f.submitted && !userForm.get('email').valid, 'has-success': f.submitted && userForm.get('email').valid}" *ngIf="user.username == currentUser.username">
                            <form-control-label [text]="'user.form.email'" [required]="true"></form-control-label>
                            <input type="text" placeholder="{{ 'user.placeholder.email' | translate }}" class="form-control" name="email" formControlName="email" readonly/>
                            <form-validate [form]="f" [fieldName]="'email'" [field]="userForm.get('email')" [messages]="USER_VALIDATOR"></form-validate>
                        </div>
                        <div class="col-md-12 form-group" [ngClass]="{ 'has-error': f.submitted && !userForm.get('email').valid, 'has-success': f.submitted && userForm.get('email').valid}" *ngIf="user.username != currentUser.username">
                            <form-control-label [text]="'user.form.email'" [required]="true"></form-control-label>
                            <input type="text" placeholder="{{ 'user.placeholder.email' | translate }}" class="form-control" name="email" formControlName="email">
                            <form-validate [form]="f" [fieldName]="'email'" [field]="userForm.get('email')" [messages]="USER_VALIDATOR"></form-validate>
                        </div>
                    <div class="col-md-12 form-group" [ngClass]="{ 'has-error': f.submitted && !userForm.get('phoneNo').valid, 'has-success': f.submitted && userForm.get('phoneNo').valid}">
                        <form-control-label [text]="'user.form.phoneNo'" [required]="true"></form-control-label>
                        <input type="number" placeholder="{{ 'user.placeholder.phoneNo' | translate }}" class="form-control" name="phoneNo" formControlName="phoneNo">
                        <form-validate [form]="f"  [fieldName]="'phoneNo'" [field]="userForm.get('phoneNo')" [messages]="USER_VALIDATOR"></form-validate>
                    </div>
                    <div class="col-md-12 form-group" [ngClass]="{ 'has-error': f.submitted && !userForm.get('designation').valid, 'has-success': f.submitted && userForm.get('designation').valid}">
                        <form-control-label [text]="'user.form.designation'" [required]="true"></form-control-label>
                        <input type="text" placeholder="{{ 'user.placeholder.designation' | translate }}" class="form-control" name="designation" formControlName="designation">
                        <form-validate [fieldName]="'designation'" [form]="f" [field]="userForm.get('designation')" [messages]="USER_VALIDATOR"></form-validate>
                    </div>
                    <div class="form-group col-md-12">
                        <form-control-label [text]="'user.form.userType'" [required]="true"></form-control-label>
                        <input type="text" class="form-control" name="userType" formControlName="userType" readonly/>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-wide btn-info pull-right saveSpace">{{'user.form.save' | translate}}</button>
                <button type="button" (click)="list(user);" class="btn mb-1 btn-outline-danger pull-right">{{'user.form.cancel' | translate}}</button>
            </div>
        </div>
    </form>
</admin-root>