<container-main >
    <div class="container-main" [perfectScrollbar]="config">
        <div class="page_title_box">
          <public-page-title [setting]="setting"></public-page-title>
        </div>
        <div class="row" >
            <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <p class="text-center text-dark text-bold text-extra-large margin-top-15">{{"auth.view.welcomeMessage" | translate }}</p>
                <p class="text-center">{{"auth.view.accountConfirmation" | translate }}</p>
                <p class="text-center">
                    <span>{{"auth.view.useAccount" | translate }} </span>
                    <a [routerLink]="[AUTH_CONSTANTS.URL.LOGIN]">{{"auth.view.logIn" | translate }}</a>
                </p>
            </div>
        </div>
    </div>
</container-main>
