<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><i class="fa fa-user"></i> {{ 'user.changePassword.formTitle' | translate }}</h3>
            <form class="form-horizontal" [formGroup]="adminForm" #f="ngForm" (ngSubmit)="validateForm(f) && f.form.valid && updateCompanyBuilding(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
                <div class="row">
                    <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !adminForm.get('password').valid, 'has-success': f.submitted && adminForm.get('password').valid}">
                        <form-control-label [text]="'companyBuilding.form.password'" [required]="true"></form-control-label>
                        <input type="password" (model)="myModel" (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()" class="form-control input-default" placeholder="{{ 'companyBuilding.placeholder.password' | translate }}" class="form-control" name="password" formControlName="password">
                        <form-validate [form]="f" [fieldName]="'password'" [field]="adminForm.get('password')" [messages]="COMPANY_BUILDING_VALIDATOR"></form-validate>
                    </div>

                    <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !adminForm.get('confirmPassword').valid, 'has-success': f.submitted && adminForm.get('confirmPassword').valid}">
                        <form-control-label [text]="'companyBuilding.form.confirmPassword'" [required]="true"></form-control-label>
                        <input type="password" (model)="myModel" (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()" placeholder="{{ 'companyBuilding.placeholder.confirmPassword' | translate }}" class="form-control" name="confirmPassword" formControlName="confirmPassword"/>
                        <form-validate [form]="f" [fieldName]="'confirmPassword'" [field]="adminForm.get('confirmPassword')" [messages]="COMPANY_BUILDING_VALIDATOR"></form-validate>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-wide btn-info pull-right saveSpace">{{'companyBuilding.form.save' | translate}}</button>
                        <button type="button" (click)="list(companyBuilding);" class="btn mb-1 btn-outline-danger pull-right">{{'companyBuilding.form.cancel' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</admin-root>