<div class="card">
    <div class="card-body">
        <div class="active-member">
            <h3>TOP BOARD MANUFACTURES</h3>
            <div class="table-responsive">
                <table class="table table-xs mb-0">
                    <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Started On</th>
                        <th>Status</th>
                        <th>Revenue</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sarah Smith</td>
                        <td>12.12.1995</td>

                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success mr-2"></i> 4492</td>
                    </tr>
                    <tr>
                        <td>Walter R.</td>
                        <td>08.15.1995</td>

                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success mr-2"></i> 6548</td>
                    </tr>
                    <tr>
                        <td>Andrew D.</td>
                        <td>04.11.1995</td>

                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-warning"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success mr-2"></i> 5492</td>
                    </tr>
                    <tr>
                        <td> Megan S.</td>
                        <td>31.04.1995</td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success mr-2"></i> 7892</td>

                    </tr>
                    <tr>
                        <td> Doris R.</td>
                        <td>04.11.1999</td>
                        <td>
                            <div class="progress1">
                                <div class="progress" style="height: 6px">
                                    <div class="progress-bar bg-success"
                                         style="width: 50%"></div>
                                </div>
                            </div>
                        </td>
                        <td><i class="fa fa-line-chart text-success mr-2"></i> 6452</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>