<admin-root>
    <page-title [setting]="setting" [steps]="steps"></page-title>
    <form class="form-horizontal" name="roomTypeForm" [formGroup]="roomTypeForm">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ 'roomType.form.details' | translate }}</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <form-control-label [text]="'roomType.form.name'" [required]="true"></form-control-label>
                            <input type="text" class="form-control" name="name" formControlName="name" readonly/>
                        </div>
                        <div class="form-group">
                            <form-control-label [text]="'roomType.form.description'" [required]="true"></form-control-label>
                            <div class="note-editor">
                                <textarea placeholder="{{roomType.description}}" class="form-control" name="description" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-4 show-icon-top">
                        <div class="delete-image" style="cursor:pointer;" *ngIf="roomType.id && roomType.logo"><i class="fa fa-close color-danger cross-size" data-toggle="tooltip" title="Delete" (click)="markDeleted(roomType);"></i></div>
                        <div class="company-image-size" *ngIf="roomType.id && roomType.logo"><img src="{{roomType.logo}}"  class="upload-image"/></div>
                        <div class="company-image-size" *ngIf="!roomType.logo"><i class="fa fa-calendar show-icon" ></i></div>
                        <div class="row mt-3 ml-3">
                            <div class="choose_file">
                                <button type="button" class="btn btn-default upload-button">{{'product.form.chooseImage' | translate}}</button>
                                <input name="file" type="file" class="form-control" accept="image/*" (change)="onFileChange($event)"/>
                            </div>
                            <div class="file-detail" *ngIf="files && roomType.id && roomType.logo">{{files.name}}</div>
                            <div class="file-detail"><span *ngIf="files && roomType.id && roomType.logo">{{ files.size/1024 | number:'1.0-0'}} </span> KB</div>
                        </div>
                        <div class="has-error error" *ngIf="formatError">{{'roomType.error.invalidPattern' | translate}}</div>
                    </div>-->
                </div>
            </div>
        </div>
    </form>
</admin-root>