<div class="modal fade" id="productDataGraph"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'product.form.dataGraph'| translate}}</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <div class="row" id="chart-pop-up-modal" style="width: 450px; height: 450px; margin:0 auto;"></div>
            </div>
        </div>
    </div>
</div>