
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0 loginPart ">

                        <div class="container text-center"style="padding-top: 20px;text-align: center;">
                            <img alt="Smart Device" src="/assets/images/talk_io_logo.png" width="130">
                            <div class="pageTitle mt-3">
                                <h4 class="mainTitle no-margin">{{"auth.view.forgotPassword" | translate }}</h4>
                                <span class="mainDescription">{{ "auth.view.resetView" | translate }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="box-login">
                                <a class="text-center"> <h4 style="padding-bottom: 40px;">{{ "auth.view.enterYourPassword" | translate }}</h4></a>
                                <alert-message></alert-message>
                                <form class="form-forgot" name="forgotForm" role="form" (ngSubmit)="f.form.valid && forgot(forgotUser,f)" #f="ngForm" novalidate>
                                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                        <input type="email" class="form-control" name="email" placeholder="Email"  [(ngModel)]="forgotUser.email" #email="ngModel" required>
                                        <span class="error text-small block" *ngIf="f.submitted && !email.valid">{{ "forgot.error.email" | translate }}</span>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn login-form__btn submit w-100" [disabled]="loading" >{{ "auth.view.submit" | translate }}</button>
                                    </div>
                                   <!-- <div class="text-center " style="padding-top: 20px;" >
                                        <span [innerHtml]="'auth.view.learnTo' | translate"></span><a (click)="forgotHelp();"><span>{{ "auth.view.retrieveAccount" | translate }}</span></a>
                                    </div>-->
                                    <p class="text-center" style="padding-top: 20px;">
                                        <span>{{"auth.view.useAccount" | translate }} </span>
                                        <a [routerLink]="[AUTH_CONSTANTS.URL.LOGIN]"><span class="login-color">{{"auth.view.logIn" | translate }}</span></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<forgot-help-modal></forgot-help-modal>
