<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0 loginPart">
                        <div class="text-center mt-4">
                            <img alt="Smart Device" class="text-center" src="/assets/images/talk_io_logo.png" width="130">
                        </div>
                        <div class="card-body">
                            <div class="box-login">
                                <form class="form-horizontal" [formGroup]="userForm" #f="ngForm" (ngSubmit)="validateForm(f) && f.form.valid && updateUser(f)" [ngClass]="{ 'form-unsubmitted': !f.submitted}">
                                <p class="text-center text-dark text-bold text-extra-large margin-top-10">{{"auth.view.passwordConfirmation" | translate }}</p>
                                    <p class="text-center">{{"auth.view.passwordConfirmationText" | translate }}</p>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <form-control-label [text]="'user.form.email'" [required]="true"></form-control-label>
                                            <input type="email" class="form-control input-default" placeholder="{{ 'user.placeholder.email' | translate }}" class="form-control" name="email" formControlName="email">
                                        </div>
                                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !userForm.get('otp').valid, 'has-success': f.submitted && userForm.get('otp').valid}">
                                        <form-control-label [text]="'user.form.otp'" [required]="true"></form-control-label>
                                        <input type="otp" class="form-control input-default" placeholder="{{ 'user.placeholder.otp' | translate }}" class="form-control" name="otp" formControlName="otp">
                                        <form-validate [form]="f" [fieldName]="'otp'" [field]="userForm.get('otp')" [messages]="USER_VALIDATOR"></form-validate>
                                        </div>

                                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !userForm.get('password').valid, 'has-success': f.submitted && userForm.get('password').valid}">
                                            <form-control-label [text]="'user.form.password'" [required]="true"></form-control-label>
                                            <input type="password" class="form-control input-default" placeholder="{{ 'user.placeholder.password' | translate }}" class="form-control" name="password" formControlName="password">
                                            <form-validate [form]="f" [fieldName]="'password'" [field]="userForm.get('password')" [messages]="USER_VALIDATOR"></form-validate>
                                        </div>
                                        <div class="form-group col-md-12" [ngClass]="{ 'has-error': f.submitted && !userForm.get('confirmPassword').valid, 'has-success': f.submitted && userForm.get('confirmPassword').valid}">
                                            <form-control-label [text]="'user.form.confirmPassword'" [required]="true"></form-control-label>
                                            <input type="password" placeholder="{{ 'user.placeholder.confirmPassword' | translate }}" class="form-control" name="confirmPassword" formControlName="confirmPassword"/>
                                            <form-validate [form]="f" [fieldName]="'confirmPassword'" [field]="userForm.get('confirmPassword')" [messages]="USER_VALIDATOR"></form-validate>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <button type="submit" class="btn login-form__btn submit w-100" [disabled]="loading">{{ 'user.form.submit' | translate }}</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-center mt-2">
                                    <span>{{"auth.view.useAccount" | translate }} </span>
                                    <a [routerLink]="[AUTH_CONSTANTS.URL.LOGIN]"><span class="login-color">{{"auth.view.logIn" | translate }}</span></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
